<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review Success</title>
</head>
<body>
<h1>Review created successfully!</h1>
<a th:href="@{/}">Go to Homepage</a>
</body>
</html>
