<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in failed</title>
</head>
<body>
    <h1>Log in unsuccessful!</h1>
    <a th:href="@{/}">Go to Homepage</a>
</body>
</html>