<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Opportunities</title>
    <!-- Add your CSS links here -->
</head>
<body>

<h3>Logged in user:</h3>
<p th:text="${loggedInUsername}">no user</p>
<a href=/user/signup><h2>Sign up</h2></a>
<a href=/user/login><h2>Log in</h2></a>
<a href=/opportunity/show><h2>View opportunities</h2></a>
<a href=/opportunity/create><h2>Create opportunity</h2></a>
<a href=/opportunity/enrolled><h2>Enrolled opportunities</h2></a>
<a href=/opportunity/friend><h2>Enroll other user's enrolled opportunities</h2></a>

</body>
</html>
