<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Can not create opportunity</title>
</head>
<body>
    <h1>You are not allowed to create opportunities!</h1>
    <p>User: <span th:text="${loggedInUsername}"></span></p>
    <a th:href="@{/}">Back to Home</a>
</body>
</html>