<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enroll Success</title>
</head>
<body>
<h1>Enrollment Successful!</h1>
<p>Enrolled user:</p>
<label th:text="${username}"></label>
<p>Enrolled in:</p>
<label th:text="${title}"></label>
<a th:href="@{/}">Go to Homepage</a>
</body>
</html>
