<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of opportunities</title>
</head>
<body>
<!-- List of Opportunities -->
    <h2>Opportunities:</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Time</th>
            <th>Finish Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="opportunity : ${allOpportunities}">
            <td th:text="${opportunity.id}">ID</td>
            <td th:text="${opportunity.title}">Title</td>
            <td th:text="${opportunity.description}">Description</td>
            <td th:text="${opportunity.start}">Start Time</td>
            <td th:text="${opportunity.finish}">Finish Time</td>
            <td>
                <form th:action="@{ ${opportunity.id} + '/enroll'}" method="post">
                    <input type="submit" value="Enroll" />
                </form>
            </td>
            <td>
                <form th:action="@{ ${opportunity.id} + '/allreviews'}" method="get">
                    <input type="submit" value="Show reviews" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Back to Home</a>
</body>
</html>